<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mybatis.dao.ttdj.ProduceSort1Mapper" >
  <resultMap id="BaseResultMap" type="com.mybatis.entity.ttdj.ProduceSort1" >
    <id column="PRO_SORT_CODE" property="proSortCode" jdbcType="INTEGER" />
    <result column="PRO_SORT_NAME" property="proSortName" jdbcType="VARCHAR" />
    <result column="IF_USE" property="ifUse" jdbcType="VARCHAR" />
    <result column="ORDER_NUM" property="orderNum" jdbcType="INTEGER" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PRO_SORT_CODE, PRO_SORT_NAME, IF_USE, ORDER_NUM, REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mybatis.entity.ttdj.ProduceSort1Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from produce_sort_1
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from produce_sort_1
    where PRO_SORT_CODE = #{proSortCode,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from produce_sort_1
    where PRO_SORT_CODE = #{proSortCode,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mybatis.entity.ttdj.ProduceSort1Example" >
    delete from produce_sort_1
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mybatis.entity.ttdj.ProduceSort1" >
    insert into produce_sort_1 (PRO_SORT_CODE, PRO_SORT_NAME, IF_USE, 
      ORDER_NUM, REMARK)
    values (#{proSortCode,jdbcType=INTEGER}, #{proSortName,jdbcType=VARCHAR}, #{ifUse,jdbcType=VARCHAR}, 
      #{orderNum,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mybatis.entity.ttdj.ProduceSort1" >
    insert into produce_sort_1
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="proSortCode != null" >
        PRO_SORT_CODE,
      </if>
      <if test="proSortName != null" >
        PRO_SORT_NAME,
      </if>
      <if test="ifUse != null" >
        IF_USE,
      </if>
      <if test="orderNum != null" >
        ORDER_NUM,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="proSortCode != null" >
        #{proSortCode,jdbcType=INTEGER},
      </if>
      <if test="proSortName != null" >
        #{proSortName,jdbcType=VARCHAR},
      </if>
      <if test="ifUse != null" >
        #{ifUse,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mybatis.entity.ttdj.ProduceSort1Example" resultType="java.lang.Integer" >
    select count(*) from produce_sort_1
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update produce_sort_1
    <set >
      <if test="record.proSortCode != null" >
        PRO_SORT_CODE = #{record.proSortCode,jdbcType=INTEGER},
      </if>
      <if test="record.proSortName != null" >
        PRO_SORT_NAME = #{record.proSortName,jdbcType=VARCHAR},
      </if>
      <if test="record.ifUse != null" >
        IF_USE = #{record.ifUse,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNum != null" >
        ORDER_NUM = #{record.orderNum,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update produce_sort_1
    set PRO_SORT_CODE = #{record.proSortCode,jdbcType=INTEGER},
      PRO_SORT_NAME = #{record.proSortName,jdbcType=VARCHAR},
      IF_USE = #{record.ifUse,jdbcType=VARCHAR},
      ORDER_NUM = #{record.orderNum,jdbcType=INTEGER},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatis.entity.ttdj.ProduceSort1" >
    update produce_sort_1
    <set >
      <if test="proSortName != null" >
        PRO_SORT_NAME = #{proSortName,jdbcType=VARCHAR},
      </if>
      <if test="ifUse != null" >
        IF_USE = #{ifUse,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        ORDER_NUM = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where PRO_SORT_CODE = #{proSortCode,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatis.entity.ttdj.ProduceSort1" >
    update produce_sort_1
    set PRO_SORT_NAME = #{proSortName,jdbcType=VARCHAR},
      IF_USE = #{ifUse,jdbcType=VARCHAR},
      ORDER_NUM = #{orderNum,jdbcType=INTEGER},
      REMARK = #{remark,jdbcType=VARCHAR}
    where PRO_SORT_CODE = #{proSortCode,jdbcType=INTEGER}
  </update>
</mapper>